#box1{
    border: 1px solid;
    width: 250px;
    height: 250px;
    background: aqua;
    /* position: relative; we can move the original element relative to point of its origin  */
    /*position: fixed;it act like nav bar it sticks although you can scroll through other element*/
    position: sticky;
    top: 0px;
    
}
#box2{
    border: 1px solid;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    position: absolute;/*postion absoulute makes the element like ghost other element ignores it , it searches for a non static parent element like with relative property ,then gets absolutely fixed on it , if its doesn't finds an parent element then it uses the default viewport*/
    bottom: 70px;
    left: 70px;
}
