body{
    background-color: black;
}
h1{
    color: white;
    font-family: "Press Start 2P" ,"consolas";
}
p{
    color: green;
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: red dotted underline;
    font-size: 20px;
}