<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>footer</title>
</head>

<body>
        <div class="container">
            <p>&copy;</p>
            <a href="https://www.linkedin.com/in/sudip-paul18/" target="_blank">LinkedIn</a>
            <a href="https://x.com/gm_sudip" target="_blank">X</a>
            <a href="mailto:p452570@gmail.com" target="_blank">Email</a>
            <a href="https://sudip-2.github.io/portfolio-project-sudip/" target="_blank">Portfolio</a>
        </div>
</body>

</html>