body{
    margin: 0;
    padding: 0;
    background-color: black;
}
/* Anime boxes starts */
.container img{
    height: 250px;
    width: 175px;
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-shrink: 1;
    clear: left;
}
/* Anime boxes ends */

/* PFP starts */
#pfp>img{
    height: 200px;
    border-radius: 50%;
    padding-top: 20px;
}
#textofpfp{
    margin-top: 5px;
    font-size: 2rem;
    font-family: "Caveat",sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
}
#pfp{
    text-align: center;
}
/* PFP ends here */

.top{
    font-family: "Barlow Condensed",sans-serif;
    color: white;
}
/* Navbar */
nav{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-top:15px ;
}
nav>a{
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
    position: relative;
    right: 60px;
}
/* Navbar ends here*/

/* Responsiveness */
@media screen and (max-width:450px){
    body{
        margin: 0;
        padding: 0;
    }
    /* Anime box starts */
    .container img{
        height: 250px;
        width: 180px;
        background-position: center;
        background-size: cover;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        position: relative;
        left: 15px;
    }
    /* Anime boxes ends */
    
    /* PFP starts */
    #pfp>img{
        height: 150px;
        border-radius: 0%;
        border-radius: 50%;
        float: left;
    }
    #textofpfp{
        margin-top: 5px;
        font-size: 25px;
        font-family: "Caveat",sans-serif;
        font-weight: bold;
        color: white;
        padding: 0px;
    }
    #pfp{
        margin-top: 40px;
        width:372px;
        margin-left: 30px;
    }
    /* PFP ends here */
    
    .top{
        font-family: "Barlow Condensed",sans-serif;
        color: white;
        width: 370px;
        font-size: 10px;
    }
    /* Navbar */
    nav{
        display: flex;
        gap: 30px;
        justify-content: flex-end;
        margin-top:15px ;
        width: 400px;
        position: relative;
        left: 60px;
    }
    nav>a{
        text-decoration: none;
        font-size: 25px;
        font-family: sans-serif;
        position: relative;
        right: 60px;
    }
 }