*{
    margin: 0px;
    padding: 0px;
}
/* Navbar Starts */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 97%;
    margin-top: 5px;
    border-radius: 30px;
    margin-left:25px;
    flex-wrap: wrap;
    padding-top:3px ;
    padding-bottom: 3px;
}

#name{
    font-family: "Palanquin Dark",sans-serif;
    font-size: 1.5rem;
    position: relative;
    left: 50px;
    color: white;
}

#mainsec{
    display: flex;
    gap: 65px;
    position: relative;
    left: 290px;
}
#mainsec>li{
    list-style: none;
}
#mainsec a{
    text-decoration: none;
    font-size: 30px;
    font-family:"Mallanna",sans-serif;
    font-weight: bold;
    color: blueviolet;
}
#mainsec a:hover{
    background-color: rgb(80, 79, 79);
    padding: 3px;
    color: white;
}

#social {
    display: flex;
    gap: 20px;
    position: relative;
    right: 35px;
    top: 2px;
}
#social img{
    height: 50px;
    right: 70px;
}
#social>li{
    list-style: none;
}
/* Navbar ends */