#box1{
    border:3px solid;
    width: 150px;
    height: 220px;
    padding: 5px;
    font-family: sans-serif;
    background:linear-gradient(to top,orange,red);
    margin-bottom: 1%;/*giving percentages helps resizing and resizes dynamically*/
}
#box2{
    border:3px solid;
    width: 150px;
    height: 220px;
    padding: 5px;
    font-family: sans-serif;
    background:linear-gradient(to top,rgb(104, 187, 10),rgb(86, 173, 173));
}