.box{
    border: 1px solid;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    margin: 5px;
    background: linear-gradient(to top, aqua,blue);
    float: left;
}
p{
    clear: left;
}