body, h2, p, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.signup-container {
    width: 400px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #1e90ff;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.2);
}

#signup,#login {
    width: 100%;
    padding: 10px;
    background: #1e90ff;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#signup:hover,#login:hover {
    background: #1c7ed6;
}

.login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.login-text a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

.notify {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 0px 15px;
    border-radius: 15px;
    border: 1.5px solid #1e90ff;
    opacity: 0;
    transform: translateX(200%);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

#notify-text {
    font-size: 15px;
    color: #333;
}

.notify.active {
    opacity: 1;
    transform: translateX(0);
    animation: slide 1s ;
}

#close{
    padding: 5px 10px;
    margin-bottom: 8px;
    background-color: #1c7ed6;
    color: white;
    border: transparent;
    border-radius: 5px;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

