body {
    background-image: url(nature.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed; /*This property determines whether the background image scrolls with the rest of the content or remains fixed in place.When set to fixed, the background image will stay fixed in its position as the user scrolls through the content. This creates a parallax effect where the background image appears to be stationary while the content moves over it.This property is often used for creating visually appealing and dynamic backgrounds.*/

    background-size: cover; /*This property specifies how the background image should be sized in relation to the container.
    When set to cover, the background image is scaled proportionally to cover the entire container, potentially cropping parts of the image if the aspect ratios do not match.The idea is to ensure that the entire container is covered by the background image without leaving any empty spaces. This is particularly useful for maintaining a consistent background appearance regardless of the container size.*/
} 
h1{
    font-family: sans-serif;
    font-weight: bold;
    /* border-style:solid; */
    background: linear-gradient(to top,skyblue,white);
    padding: 15px;
    border-radius: 15px;
}
p{
    font-family: sans-serif;
    background: linear-gradient(to top,skyblue,white);
    padding: 15px;
    border-radius: 15px;
}