h1{
    border-top-style:dotted;
    border-bottom-style: dotted;
    border-left-style:double ;
    border-right-style: groove;
    border-left-width: 10px;
    border-left-color: brown;
}
p{
    border-style: outset; /*many more border sytles */
    border-width: 10px;
    border-color: black;
    border-radius: 15px;
    padding: 10px; /*creates space for the text from the border from inside*/
}